.mat-elevation-z5 {
  display: flex;
  flex-direction: column;
}

img {
  object-fit: cover;
  height: 220px;
  width: 100%;
  margin-bottom: 8px;
}

.data-container {
  text-align: center;
  margin-bottom: 0;
}

.data-container > span {
  margin-right: 10px;
}

.data-container > span :last-child {
  margin-right: 0;
}
